<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-cordovafold" version="0.0.1">
    <name>CordovaFold</name>

    <description>An Android Cordova plugin that support galaxy fold.</description>
    <license>MIT</license>

    <keywords>cordova,android,fold</keywords>
    <repo>https://github.com/CredOz/CordovaFold.git</repo>
    <issue>https://github.com/CredOz/CordovaFold/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/cordovafold.js" name="cordovaFold">
        <clobbers target="window.plugins.cordovaFold" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CordovaFold">
                <param name="android-package" value="com.credoz.cordova.plugin.CordovaFold"/>
            </feature>
        </config-file>

        <source-file src="src/android/CordovaFold.java" target-dir="src/com/credoz/cordova/plugin" />
    </platform>
</plugin>